.idea
!redis/.gitkeep
/redis/data
/mysql/data
/es-kibana/esdata
/es-kibana/kibanadata
/elasticsearch/esdata
/kibana/data
/kafka/data
/zookeeper/data
.env
kafka_data/
.vscode/
mongo
etcd-demo/etcd
etcd/
apisix-eted/apisix/logs
apisix/logs/**/*
!apisix/logs/.gitkeep
apisix-eted

dockprom/grafana/provisioning/dashboards/**/*
dockprom/grafana/provisioning/datasources/**/*
!dockprom/grafana/provisioning/dashboards/datasource.yaml
!dockprom/grafana/provisioning/datasources/.gitkeep


!dockprom/grafana/.gitkeep
mysql/log/
prometheus/data/**/*
prometheus/data/.gitkeep

grafana/data/**/*
!grafana/data/.gitkeep

